body{
    margin: 0 auto;
    padding: 0;
    /* max-width: 1248px; */
}
.content-wrapper{
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    cursor:pointer;
    color: #000;
}
li{
    list-style: none;
}