


.header{
    display: flex;
    justify-content: space-between;
    background: url('../images/hexagon-gradient-2.1.png') 22% -3%   no-repeat,
    url('../images/hexagon-gradient-4.png') 90%   24% no-repeat;
    /* border-bottom: 1px gray solid; */
    padding: 20px 40px 80px 40px;
    
}
.logo{
}
.menu-list{
    display: flex;
    justify-content: space-between;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: Regular ;
}
.menu-items{
    padding-left: 24px;
}

