.information {
    display: flex;
    justify-content: space-between;
    max-width: 808px;
    height: 450px;
    margin: 8px 50px 0 30px;
    
    background: linear-gradient(90deg, #FFEA00 0%, #FFD200 50%, #FFCC33 100%);
}

.information-logo{
    width: 96px;
    height: 96px;
    background: url('../images/newslogo-gradient-1.png') no-repeat 37% 24%; 
    padding-right: 24px;
    padding-left: 10px; 
}
.information-content{
    display: block
}

.title{ 
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #231F20;
}
.description{
    font-family: Stapel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;

    color: #231F20;
}


.info-box {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #231F20;
}
.date-info-title{
    margin-left: 12px;
    vertical-align: middle;
    min-height: 24px;
}
.info-box-item{
    display:flex;
    align-items: center;
    margin-top: 16px;
}
.info-btn {
    width: 240px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin-top: 84px;
    background: #ffffff;
    background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 50%, #ffea92 72%, #ffd305 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#ffea92 72%,#ffd305 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,#ffea92 72%,#ffd305 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffd305',GradientType=1 ); /* IE6-9 */
    outline: none;
    border:none;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    cursor: pointer;
}