

.news{
    max-width: 360px;
    height: 900px;
    margin: 0px 30px 0 30px;
     background: url('../images/news-main-gradient.png') 0 77%  no-repeat;
     border-right: 1px solid gray;
   
 }
.news-description{
    background: url('../images/news-text-gradient.png') 44% 5% no-repeat,
     url('../images/news-gradient-2.png') 100% 100% no-repeat;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
padding-left: 40px;
padding-bottom: 6px;
margin-top: 172px;
margin-bottom: 90px;

}
.bolock-title{
font-size: 37px;
font-weight: 700;
padding-top:22px


}
.title-wrap{
    width: 329px;
    height: 266px;
    background: url('../images/news-title-gradient.png')  5% 5%  no-repeat,
                url('../images/news-linies.png')  0 100%  no-repeat;
    position: relative;

}
.img2020{
    position: absolute;
    right: 44px;
    top: 106px;
}



.pulse-marathon{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-align: center;    
}

.new-title {
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.02em;

}

.new-content {
font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
color: rgb(56, 56, 56);
padding-right: 50px;
}

.short-news{
    padding: 0 0 30px 24px;
background: url('../images/short-new-gradient.png') 5% 5% no-repeat;
}
.read-more{
    color: gray;
    font-size: 20px;
}

.news-button{
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.02em;
margin-top: 16px;
margin-bottom: 24px;
border:1px solid gray;
padding: 12px;
outline: none;
background-color: #fff;
}
.news-footer{
    display: block;
}
.contacts{
    color: #231F20;
    font-weight: normal;
    letter-spacing: 0.02em;
    line-height: 24px;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.social-item{
    padding-left: 20px;
    padding-top: 20px;
}